apiai==1.2.3
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9
decorator==4.4.2
future==0.18.2
geojson==2.5.0
idna==2.9
numpy==1.18.2
pycparser==2.20
pyowm==2.10.0
pyTelegramBotAPI==3.6.7
python-telegram-bot==12.6.1
requests==2.7.0
six==1.14.0
soupsieve==2.0
telebot==0.0.3
tornado==6.0.4
urllib3==1.25.8
